In [60]:
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [14]:
complete_frame = pd.read_parquet('DSC180B.parquet')

In [15]:
complete_frame
#consider the date where people buy things, whole dollar amounts

,transaction_date,amount,memo,new_category
8,2018-03-06,15.25,POS CASINO BAR @ SPOTL - MEMO=PURCHASE 03/02 C...,Entertainment
39,2018-09-29,16.04,BEST BUY GRAND REGENCY BRANDON F,General Merchandise
45,2018-10-17,10.36,CORNER STORE ARLINGTON TX 10/17 Purchase $5.3...,Automotive
52,2017-07-11,4.63,SPEEDWAY IN BEDFORD IN 07/10 DEBIT_CARD,Automotive
55,2018-09-10,223.00,PAYMENT FOR AMZ STORECARD WEB ID: ACH_DEBIT,General Merchandise
...,...,...,...,...
1999981,2021-02-19,24.24,DBT/WDR CASEYS GEN STORE FENNIMORE WI,Automotive
1999982,2021-01-19,120.60,POS Debit - DDA KOHLS CLIVE IA #,General Merchandise
1999983,2022-02-25,6.47,STARBUCKS STORE MAPLE VALLEY WA 02/24,Food and Beverages
1999991,2021-01-11,44.98,POS Debit - Visa Check Card - APPLE.COM/BILL ...,General Merchandise
1999992,2022-04-11,1.00,NAYAX VENDING 2 HUNT VALLEY MD 0...,Food and Beverages

In [17]:
complete_frame['memo']=complete_frame['memo'].apply(lambda x:x.lower())
complete_frame['memo']= complete_frame['memo'].apply(lambda x:re.sub(r'[^\w\s]','',x))
complete_frame['memo']=complete_frame['memo'].apply(lambda x:re.sub(r'[\d]','',x))

In [34]:
split_set = complete_frame[['memo','new_category']]

In [35]:
tfidf = TfidfVectorizer(stop_words='english') #1-3 character/words,

In [38]:
X_train, X_test, y_train, y_test = train_test_split(split_set['memo'],split_set['new_category'],test_size=0.3, random_state=42)

In [46]:
complete_frame[['memo','new_category']]

,memo,new_category
8,pos casino bar spotl memopurchase coachella...,Entertainment
39,best buy grand regency brandon f,General Merchandise
45,corner store arlington tx purchase cash bac...,Automotive
52,speedway in bedford in debit_card,Automotive
55,payment for amz storecard web id ach_debit,General Merchandise
...,...,...
1999981,dbtwdr caseys gen store fennimore wi,Automotive
1999982,pos debit dda kohls clive ia,General Merchandise
1999983,starbucks store maple valley wa,Food and Beverages
1999991,pos debit visa check card applecombill ca,General Merchandise
1999992,nayax vending hunt valley md,Food and Beverages

In [49]:
lr=LogisticRegression()

In [54]:
tfidf.fit(X_train)

TfidfVectorizer(stop_words='english')

In [56]:
x_train = tfidf.transform(X_train)
x_test = tfidf.transform(X_test)

In [57]:
lr.fit(x_train,y_train)

C:\Users\kevin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [59]:
ypred = lr.predict(x_test)

In [61]:
metrics.accuracy_score(y_test,ypred)

0.854385175131525